body {
  background: black;
  justify-content: center;
  color: aliceblue;
  text-align: center;
  min-width: 100vw;
}

.whole-page {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

ul {
  list-style: none;
  margin: 25px 50px 75px 30px;
  width: 50%;
}

li.layout {
  border-bottom: none;
  text-decoration: none;
  font-size: larger;
}

li.main-list {
  border-bottom: solid 3px white;
  padding: 25px;
  font-size: larger;
}

.whole-page {
  padding: 50px;
  text-align: center;
  background: black;
  color: white;
}

nav {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
}

.home-link {
  border: 1px dotted white;
  background: #1d1f1d;
  width: 75px;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
}
